* {
    padding: 0;
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

:root {
    --primary: #005293;
    --secondary: #f9f9f9;
    --accent-1: #fed226;
    --accent-2: #62b8e7;
    --accent-3: #00345c;
}

body {
    background-color: var(--secondary);
}


/* Default stuff */

::-webkit-scrollbar {
    display: none;
}

.card {
    background-color: var(--accent-1);
    border: 1px solid var(--primary);
    color: var(--primary);
    font-weight: 600;
}

.card-footer {
    border-top: 1px solid var(--primary);
}

.row {
    /* max-height: 85vh; */
    overflow-y: scroll;
}


/* Header and navigation */

.nav-link,
.nav-item {
    color: red;
}

.navbar-accent,
.navbar-brand {
    color: var(--accent-1);
}

.navbutton {
    color: red;
}

p {
    white-space: pre-line;
}

canvas {
    width: 100%;
    height: auto;
    border: 1px soild black;
}

@media only screen and (max-width: 600px) {
    .board {
        display: none;
    }
}


/* Main content */


/* Excercise component */


/* Footer */

footer {
    max-height: 15vh;
    background-color: red;
}