* {
    padding: 0;
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: "Roboto", sans-serif;
}

:root {
    --primary: #005293;
    --secondary: #f9f9f9;
    --accent-1: #fed226;
    --accent-2: #62b8e7;
    --accent-3: #00345c;
}

body {
    background-color: var(--secondary);
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    font-family: "Exo 2", sans-serif;
}

h1,
h2,
h3,
h4,
p,
label {
    color: var(--accent-3);
}

th,
td,
.card-body p,
.card-footer {
    color: var(--accent-1);
}

.card:hover {
    cursor: pointer;
}

a {
    color: var(--accent-2);
}

a:hover {
    color: var(--accent-2);
}


/* Default stuff */

::-webkit-scrollbar {
    display: none;
}

hr {
    height: 10px;
    color: var(--primary);
}

.card {
    background-color: var(--primary);
    border: 1px solid var(--accent-2);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 5px 5px;
}

.card:hover {
    background-color: var(--accent-3);
    border: 1px solid var(--accent-1);
}

.card:hover .card-footer {
    border-top: 1px solid var(--accent-1);
}

.card-title a {
    color: var(--accent-1);
}

.card-footer {
    border-top: 1px solid var(--accent-2);
}

.card-footer a {
    color: var(--accent-1);
}

.card-img-top {
    border-radius: 10px;
}

.card-img-top {
    animation: imgAnimation 1s ease-in-out;
}

@keyframes imgAnimation {
    from {
        height: 10px;
    }
    to {
        height: 100%;
    }
}

.row {
    /* max-height: 85vh; */
    overflow-y: scroll;
}

th,
th,
tr {
    background-color: var(--primary);
}

table {
    border-radius: 10px;
}

td a {
    color: var(--accent-1);
}

.alert p {
    color: black;
}

.container {
    min-height: 85vh;
}


/* Header and navigation */

.nav-link,
.nav-item,
.navbar-accent,
.navbar-brand {
    color: var(--accent-1) !important;
    font-family: "Roboto";
}

.nav-link:hover {
    color: var(--secondary) !important;
}

.navbar {
    background-color: var(--primary) !important;
}

canvas {
    width: 100%;
    height: auto;
    border: 1px soild black;
}

#logo {
    width: 60px;
}

@media only screen and (max-width: 600px) {
    .board {
        display: none;
    }
}


/* Main content */

p {
    white-space: pre-line;
}


/* Excercise component */


/* Footer */

footer {
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: var(--primary);
}